/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining per-module ext.args and publishDir
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'ABRICATE_RUN' {
        ext.args = {
            def args = []
            if (task.ext.db_context == 'vf') {
                args << "--minid ${params.vf_min_id}"
                args << "--mincov ${params.vf_min_cov}"
            } else {
                args << "--minid ${params.arg_min_id}"
                args << "--mincov ${params.arg_min_cov}"
            }
            args.join(' ')
        }
        publishDir = [
            path: { "${params.outdir}/abricate" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ABRICATE_SUMMARY' {
        publishDir = [
            path: { "${params.outdir}/summary" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'AMRFINDERPLUS' {
        ext.args = "--ident_min ${params.arg_min_id / 100} --coverage_min ${params.arg_min_cov / 100}"
        publishDir = [
            path: { "${params.outdir}/amrfinderplus" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MERGE_REPORTS' {
        publishDir = [
            path: { "${params.outdir}/summary" },
            mode: 'copy'
        ]
    }
}
